body{

}

#header-img{
 width:200px;
 height:150px;
 padding:5px;
}

#nav-bar{
  border: 5px solid #ccc;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: yellow;
  border-radius: 30px;
}

.nav-link{
  font-size: 30px;
  color:black;
}
